@keyframes fundoAnimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  /* Fundo preto clássico para terminal */
  background-color: #000;
  /* Cor de texto principal (verde neon) */
  color: #00ff41;
  /* Fonte monoespaçada é obrigatória! */
  font-family: "Fira Code", "Inconsolata", monospace;
  font-size: 17px;
  margin: 0;
  padding: 20px;
  animation: fundoAnimado 6s infinite;
  background: linear-gradient(-45deg, #000000, #072217, #1b3526);
  background-size: 400% 2000%;
  transition: background 5s ease;
}

#header {
  text-align: left;
  border-radius: 13px 13px 13px 0px;
  margin: 0px 0px 0px 0px;
  color: #ffffff; /* Cor branca para o título */
  background-color: #161616;
  margin-right: 600px;
}

#header2 {
  text-align: left;
  border-radius: 0px 0px 13px 13px;
  margin: 0px 0px 20px 0px;
  color: #ffffff; /* Cor branca para o título */
  background-color: #161616;
  margin-right: 630px;
}

#header h1 {
  font-size: 23px;
  font-family: "Fira Code", "Inconsolata", monospace;
  margin-left: 7px;
}

#terminal-container {
  width: 90%;
  height: auto;
  border-radius: 13px;
  max-width: 864px;
  margin: 0 auto;
  box-shadow: #ffffff 0cap 0cap 0.2cap 0.2cap;
}

/* Garante que o texto da Arte ASCII preserve os espaços */
#output pre {
  margin-left: 0px;
  width: auto;
  white-space: pre;
  color: inherit; /* Herda a cor verde */
}

/* Área de Output (Histórico) */
#output {
  margin-left: 20px;
  margin-right: 15px;
  width: auto;
  /* Faz a rolagem do output */
  overflow-y: auto;
  margin-top: 10px;
}

/* Linha de Input (Entrada) */
#input-line {
  margin-left: 20px;
  width: auto;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#prompt {
  margin: 0px 0px 10px 0px;
  margin-right: 8px;
  width: auto;
  font-weight: bold;
  overflow-y: auto;
  /* Destaque para o prompt */
  color: #ffffff;
}

#command-input {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  flex-grow: 1;
  outline: none;
  caret-color: #00ff41; /* Cor do cursor piscando */
  margin: 0px 0px 10px 0px;
}

.info {
  color: #ffffff;
}

/* --- CLASSES DE DESTAQUE --- */

.help-word {
  color: #00ffff;
  font-weight: bold;
}

/* Estilo para mensagens de erro */
.error-message {
  color: #d6a913;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(255, 145, 0, 0.5);
}

.port {
  color: #00ffff;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(106, 46, 202, 0.5);
  font-size: 17px;
}

.port2 {
  color: #00ffff;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(106, 46, 202, 0.5);
  font-size: 17px;
}

.ASCII {
  color: #ff0000;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  font-size: 17px;
}

.ASCII2 {
  color: #69ceb0;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  font-size: 17px;
}

.line {
  color: #c300ff;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(106, 46, 202, 0.5);
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.link1 {
  color: #ffffff;
  text-decoration: underline;
}

.gif {
  display: block; 
  width: 600px; 
  height: 400px;
  margin: 10px auto; 
  border-radius: 13px;
}

.cert {
  color: #f09ef0;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(255, 0, 255, 0.5);
}

.message {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}